<div class="section-services">
  <div class="services-paragraph">
    <h4>Fashion, E-Commerce</h4>
    <p>Lorem ipsum dolor sit amet consectetur. Id mauris viverra condimentum imperdiet. Orci pellentesque et massa at orci arcu mauris turpis ac. Ullamcorper viverra ullamcorper aliquam non at euismod leo ut eu. Quam tellus eu venenatis scelerisque quam turpis. Sit auctor aliquet libero tristique. Amet vitae phasellus turpis turpis maecenas. Pretium amet sed enim in platea dui volutpat consequat.</p>
  </div>
  <div class="services-services">
    <h2>Services</h2>
    <ul>
      <li>Branding</li>
      <li>Packaging</li>
      <li>Print Design</li>
      <li>Ecommerce Design</li>
      <li>Shopify Development</li>
      <li>Brand Strategy</li>
    </ul>
  </div>
</div>

{% schema %}
  {
    "name": "services",
    "settings": [
      {
        "type": "text",
        "id": "services",
        "label": "services"
      }
    ],
    "presets": [
      {
        "name": "services"
      }
    ]
  }
{% endschema %}