{% liquid
  assign subheading = section.settings.subheading
  assign paragraph = section.settings.paragraph
  assign services_title = section.settings.services_title
%}

<div class="section-services">
  <div class="services-paragraph">
    <h4>{{ subheading }}</h4>
    <p>{{ paragraph }}</p>
  </div>
  <div class="services-services">
    <h2>{{ services_title }}</h2>
    <ul>
      {% for block in section.blocks %}
        <li>{{ block.settings.service }}</li>
      {% endfor %}
    </ul>
  </div>
</div>

{% schema %}
  {
    "name": "Services",
    "settings": [
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading"
      }, {
        "type": "textarea",
        "id": "paragraph",
        "label": "Paragraph"
      }, {
        "type": "text",
        "id": "services_title",
        "label": "Services title"
      }
    ],
    "blocks": [
      {
        "name": "Service",
        "type": "block",
        "settings": [
          {
            "type": "text",
            "id": "service",
            "label": "Service"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Services"
      }
    ]
  }
{% endschema %}